
<div class='container'>
  <div class='row'>
    <div class='col center'>
      <br /><p>Add a technology for <%= @app.name %></p>
    </div>
  </div>
  <div class='row'>
    <div class='col center'>
      <%= render 'form' %><br />
    </div>
  </div>
</div>
