<div class='jumbotron para-test'>
  <div class='container pic-text'>
    <div class='row'>
      <div class='col'>
        TESTING JUMBOTRON
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col'>
      Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />
    </div>
  </div>
</div>
