<div class='jumbotron para-test white'>
  <!-- <div class='container pic-text'>
    <div class='row'>
      <div class='col'> -->
        <h2 class='display4'>Writing and Editing</h2>
        <p class='lead'>Let's talk about my decade's experience as a writer.</p>
        <hr class='my4' />
        <p>First of all, it's important to know that I'll be on the side of the Chicago Manual of Style when the civil war with the AP Stylebook finally breaks out.</p>
        <center>
          <%= link_to 'Home', root_path, class: 'btn btn-secondary' %>
        </center>
      <!-- </div>
    </div>
  </div> -->
</div>

<div class='container'>
  <div class='row'>
    <div class='col'>
      Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />Lorem, man <br />
    </div>
  </div>
</div>
