<div class='jumbotron para-test white'>
  <h2 class='display4'>Writing and Editing</h2>
  <p class='lead'>Let's talk about my decade's experience as a writer.</p>
  <hr class='my4' />
  <p>First of all, it's important to know that I'll be on the side of the Chicago Manual of Style when the civil war with the AP Stylebook finally breaks out.</p>
</div>

<div class='container index-blurb'>
  <div class='row'>
    <div class='col'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed porttitor
      ante. Vivamus quam lorem, luctus et risus id, facilisis tristique magna.
      Suspendisse maximus, nisi sit amet ullamcorper auctor, urna augue egestas
      ex, eu porttitor risus diam nec dolor. Pellentesque consequat volutpat
      libero in tincidunt. Quisque aliquam, augue vitae dictum egestas, dui nibh
      dignissim tellus, pharetra viverra enim massa ac sem. Aliquam accumsan
      elit elit, et egestas enim maximus auctor. Vestibulum suscipit lobortis
      enim eu ullamcorper. Donec ac risus eget diam pulvinar consectetur.
      Praesent lectus dui, euismod at maximus sed, maximus in lacus. In
      convallis, augue in dictum consectetur, lectus libero hendrerit enim, sed
      scelerisque nisi elit a augue.
    </div>
  </div>
</div>
