<div class='jumbotron para-test white'>
  <h2 class='display4'>Writing and Editing</h2>
  <p class='lead'>Let's talk about my decade's experience as a writer.</p>
  <hr class='my4' />
  <p>First of all, it's important to know that I'll be on the side of the Chicago Manual of Style when the civil war with the AP Stylebook finally breaks out.</p>
</div>

<div class='container index-blurb'>
  <div class='row'>
    <div class='col-10 mx-auto'>
      <p>Most of my freelance time is spent on app development these days, but I still
      take clients who need writing and editing. I've worked with tons of clients
      of all sizes—-I've been at this for about 13 years, after all.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-10 mx-auto'>
      <p>My first love has always been poetry. My BA in Poetry is from Northwestern University,
      and I find it hard to explain just how much that set up me for a life of
      very serious attention to detail and the inner workings of grammar. I've run
      with it ever since I graduated.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-10 mx-auto'>
      <p>You can send an email to <%= "#{ENV['GMAILU']}" %> if you have any questions about my experience.
      If you want me to send you a resumé, I'm <%= link_to 'happy to', resumes_write_email_path %>.</p>
    </div>
  </div>
</div>
