<div class='jumbotron center white' style="background-image: url(<%= @job.img_url %>);
                                     object-fit: cover;
                                     background-repeat: no-repeat;
                                     background-position: center;
                                     background-size: 100%;
                                     height: 100%">
  <h2 class='display4'><%= @job.name %></h2>
  <p class='lead'><%= @job.short_description %></p>
  <hr class='my-4' />
</div>

<div class='container-fluid intro'>
  <div class='row'>
    <div class='col portrait center'>
      <p><%= @job.description %></p>
    </div>
  </div>
</div>
