<!-- <nav class='navbar navbar-expand-sm navbar-light bg-dark white'> -->
<footer class='page-footer white'>
  <div class='container'>
    <div class='row center'>
      <div class='col f-block'>
        <h4>CONTACT</h4>
        Want to get in touch? <br />
        I'm at fake@email.com.
      </div>
      <div class='col f-block'>
        <h4>MY LINKS</h4>
        github <br />
        LinkedIn <br />
      </div>
      <div class='col f-block'>
        <h4>ABOUT</h4>
        This site was built with Ruby on Rails <br />
        with Bootstrap for styling.
      </div>
    </div>
  </div>
</footer>
