<nav class='navbar navbar-expand-sm navbar-dark'>



  <div>
    <span class='navbar-brand mb-0 h1'>Jim's Portfolio</span>
  </div>


    <button type="button" class="btn-sm navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class='collapse navbar-collapse' id='myNavbar'>
      <ul class='navbar-nav ml-auto text-nowrap'>
        <li class='nav-item nav-link'>Programmer</li>
        <li class='nav-item nav-link'>Grammar Pro</li>
      </ul>
    </div>


</nav>
