<h1>ResumeMailer#send_resume</h1>

<p>
  <%= @greeting %>, find me in app/views/resume_mailer/send_resume.html.erb
</p>

<p>
  Attached is a copy of my resume. Please let me know if you have any questions.
</p>
