<div class='jumbotron apps-test white'>
  <h2 class='display4'>APPS AND WEBSITES</h2>
  <p class='lead'>I'm a tireless Ruby on Rails programmer.</p>
  <hr class='my4' />
  <p>I graduated from The Iron Yard in Raleigh, focusing on backend engineering, specifically Ruby on Rails. Here's what I've built since then.</p>
</div>

<div class='container index-blurb'>
  <div class='row'>
    <div class='col'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed porttitor
      ante. Vivamus quam lorem, luctus et risus id, facilisis tristique magna.
      Suspendisse maximus, nisi sit amet ullamcorper auctor, urna augue egestas
      ex, eu porttitor risus diam nec dolor. Pellentesque consequat volutpat
      libero in tincidunt. Quisque aliquam, augue vitae dictum egestas, dui nibh
      dignissim tellus, pharetra viverra enim massa ac sem. Aliquam accumsan
      elit elit, et egestas enim maximus auctor. Vestibulum suscipit lobortis
      enim eu ullamcorper. Donec ac risus eget diam pulvinar consectetur.
      Praesent lectus dui, euismod at maximus sed, maximus in lacus. In
      convallis, augue in dictum consectetur, lectus libero hendrerit enim, sed
      scelerisque nisi elit a augue.
    </div>
  </div>
</div>
