<div class='jumbotron apps-test white'>
  <h2 class='display4'>APPS AND WEBSITES</h2>
  <p class='lead'>I'm a tireless Ruby on Rails programmer.</p>
  <hr class='my4' />
  <p>I've been tinkering with HTML and CSS since about 2000.
    So learing Ruby on Rails at The Iron Yard seemed like the perfect thing to do.</p>
</div>

<div class='container index-blurb'>
  <div class='row'>
    <div class='col-10 mx-auto'>
      <p>I have officially been a Ruby on Rails programmer since early 2016.
      I've had my hands in a ton of projects, each with their own personalities.</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-10 mx-auto'>
      <p>It was time to change careers because I have been laid off from two advertising agencies
         (well, the same firm twice, actually),
      one quasi-law firm and a nonprofit. I wanted to take my superior English skills
    and obsessive attention to detail to something more stable. And rewarding. </p>
    </div>
  </div>
  <div class='row'>
    <div class='col-10 mx-auto'>
      <p>You can send an email to <%= "#{ENV['GMAILU']}" %> if you have any questions about my experience.
      If you want me to send you a resumé, I'm <%= link_to 'happy to', resumes_write_email_path %>.</p>
    </div>
  </div>
</div>
