<div class='container'>
  <div class='row'>
    <div class='col showoff'>
      <center>
        <p>I sent an email to <strong><%= params[:address] %></strong>. Thanks.</p>
      </center>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <center>
        <p>You, uh, might want to check your spam folder since you probably don't have this domain whitelisted with your provider. No worries. </p>
        <p>I'm not telling you how to live, but you might want to go back to
         the <br /><h3><%= link_to 'home page', root_path %></h3></p>
      </center>
    </div>
  </div>
</div>
