<h1>Resumes#send_email</h1>
<p>Find me in app/views/resumes/send_email.html.erb</p>
<br><h1><p>You sent an email to <%= params[:address] %>. </p></h1>

<center>
  Back home: <%= link_to 'DASHBOARD', root_path %>
</center>
